:root{
    --cor1:#CCD7E4;
    --cor2: #828A95;
    --cor3:#CCD7E4;

}

header{
    display: flex;
    justify-content: end;
    gap: 50px;
    background-color: var(--cor3);
    padding: 0px 20px;
}
main{

}
footer{

}
.titulo{

}
body{
    margin: 0%;
    background-color: var(--cor2);
}
#foto{

    width: 500px;
    border: 5px solid black;
    border-radius: 100px;
}

.sobre-mim{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px ;
}

.descricao{
    max-width: 600px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--cor1);
}
.items{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.item{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: var(--cor1);
} 
.formulario{
    display: flex;
    justify-content: center;
}
#logo-html, #logo-css, #logo-js{
    height: 150px;
}
textarea{
    resize: none;
    width:350px;
    height: 200px;
    background-color: var(--cor2);
    border: solid black;
} 
input{
    width: 243px;
    background-color: var(--cor2);
    border: solid black;
}
textarea:focus, input:focus{
    background-color: var(--cor1);
}
    
    button{
        background-color: var(--cor2);
        cursor: pointer;


    }
